<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <title>Title</title>-->


</head>
<body>

  <div>
    <!-- 暫存提示 -->
    <%= flash[:SuccessMeg] %>
  </div>
  <!--  鏈接 => 創建候選人-->
  <!--  <%#= link_to 'Add Candidates', '/candidates/new' %>  <a href=" /candidates/new">Add Candidates</a> -->
  <h1> <%= link_to 'Add Candidates',  new_candidate_path %></h1>

  <!-- 候選人表格 -->
  <table>
    <tr>
      <td></td>
      <td>Name</td>
      <td>Party</td>
      <td>Age</td>
      <td>Action</td>
    </tr>
  <!--  以each(遍歷)方式，印出資料-->
    <% @candidate.each do |candidate|  %>
      <tr>
        <td><%= link_to 'vote',  %></td>
        <td><%= link_to candidate.name, candidate_path(candidate.id) %></td>
<!--        <td><a href="/candidates/<%#= candidate.id %>>"> <%#= candidate.name %></a></td>-->
        <td><%= candidate.party %>y</td>
        <td><%= candidate.age %></td>
        <!--  更新-->
        <td>
          <%= link_to 'Update',  edit_candidate_path(candidate.id) %>
          <%= link_to 'Delete',  candidate_path(candidate.id), method: 'delete', data: {confirm: 'are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </table>
</body>
</html>
